<% include partials/header %>
<h1>Create a new button</h1>
<form class="" action="/buttons" method="post">
  <label>Colour <input type="color" name="colour" value=""></label>
  <input type="submit">
</form>
<a href="/buttons">Go back</a>
<% include partials/footer %>
